<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>TextSmith ~ create and inhabit interactive textual worlds.</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tufte.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/latex.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <article>
            <h1>TextSmith</h1>
            <p class="subtitle">Create and inhabit interactive textual
            worlds.</p>
            {% block content %}{% endblock %}
        </article>
        <footer>
            &copy; 2019 Nicholas Tollervey and Andrew Smith.
        </footer>
    </body>
</html>
