{% extends "base.html" %}
{% block content %}
<section>
    <h1>TextSmith</h1>
    <p class="subtitle">Create and inhabit interactive textual
    worlds.</p>
    <p>This is a game created for
    <a href="https://pyweek.org/27/">PyWeek 27</a> by
    <a href="https://ntoll.org">Nicholas Tollervey</a> and
    <a href="http://www.andrewsmithauthor.com/">Andrew Smith</a>.</p>
    <p>Instructions:</p>
    <ol>
        <li><a href="{{ url_for('signup') }}">Sign up</a>.</li>
        <li><a href="{{ url_for('client') }}">Explore, create, collaborate and
        enjoy</a>.</li>
    </ol>
    <p>The rest is explained in the game... if you're stuck
    <a href="{{ url_for('help') }}">Read the docs</a>. :-)</p>
</section>
{% endblock %}
