{% extends 'base.html' %}
{% block content %}
<section>
    <p>Enter your username and password to connect.</p>
    {% if error %}
    <p style="color: red;">{{ error }}</p>
    {% endif %}
    <form action="{{ url_for('login') }}" method="post">
        <p><label for="username">Username</label>:<br/>
        <input type="text" name="username" autofocus></p>
        <p><label for="password">Password</label>:<br/>
        <input type="password" name="password"></p>
        <p><input type="submit" value="Submit"></p>
    </form>
</section>
{% endblock %}

